---
import type { WorkCollectionType } from '@/content/_schema/works';
import WorkContentLayoutImage from './WorkContentLayoutImage.astro';
import Title from '@/components/Title.astro';
import Prose from '@/components/Prose.astro';
import Chip from '@/components/Chip.astro';

interface Props {
  id: string;
  work: WorkCollectionType;
}

const { id, work } = Astro.props as Props;
---

<section id={id} class="text-md pb-[60px] leading-8 tracking-wide antialiased">
  <!-- Title -->
  <Title class="mb-0 text-start">{work.title}</Title>

  <p class="text-start text-sm">
    <!-- Date -->
    {work.date}
    <!-- Type -->
    {work.type && <Chip class="py-0">{work.type}</Chip>}
  </p>

  <!-- Image -->
  {work.imageUrl && <WorkContentLayoutImage work={work} class="sm:w-3/5 lg:w-2/5" />}

  <!-- Markdown Document Content -->
  <Prose>
    <slot />
  </Prose>
  <br />
  <br />
</section>
