---
interface Props {
  skills: string[];
  size?: number;
  class?: string;
  itemClass?: string;
}

const { skills, size = 40, class: _class, itemClass } = Astro.props as Props;

function getSkillImgSRC(skillName: string) {
  return `https://github.com/BlaxBerry333/programming-notes/blob/main/docs/public/static/skill-icons/${skillName}.png?raw=true`;
}
---

<section class:list={['flex items-center gap-2', _class]}>
  {
    skills.map((skillName) => (
      <img
        src={getSkillImgSRC(skillName)}
        alt={skillName}
        width={size}
        height={size}
        draggable="false"
        loading="lazy"
        decoding="async"
        class:list={[
          'overflow-hidden rounded-2xl inset-shadow-sm',
          'border border-gray-300 bg-gray-100 dark:bg-gray-800',
          itemClass,
        ]}
      />
    ))
  }
</section>
