---
import type { WorkCollectionType } from "@/content/_schema/works";
import WorkContentLayoutImage from "./WorkContentLayoutImage.astro";
import Chip from "@/components/Chip.astro";

interface Props {
  id: string;
  work: WorkCollectionType;
}

const { id, work } = Astro.props as Props;
---

<section id={id} class="text-md pb-[60px] leading-8 tracking-wide antialiased">
  <!-- Title -->
  <h1 class="mb-4 text-4xl font-bold text-purple-700">
    {work.title}
  </h1>

  <p class="text-start text-sm">
    <!-- Type -->
    {work.type && <Chip class="mx-2 py-0">{work.type}</Chip>}
    <!-- Date -->
    {work.date}
  </p>

  <!-- Image -->
  {work.imageUrl && <WorkContentLayoutImage work={work} class="sm:w-3/5 lg:w-2/5" />}

  <!-- Markdown Document Content -->
  <div
    class:list={[
      "prose dark:prose-invert",
      "prose-lg max-w-none",
      "prose-h1:my-4 prose-h1:font-bold prose-h1:text-xl",
      "prose-h2:my-4",
      "prose-p:my-5 prose-p:text-start prose-p:text-justify prose-p:break-words prose-a:break-all",
      "prose-ul:my-3 prose-ul:pl-4 prose-ul:text-start prose-ul:text-justify",
      "prose-li:my-2 prose-li:pl-0 prose-li:text-start prose-li:text-justify",
      "prose-img:my-0 prose-img:rounded-xl",
      "prose-a:no-underline prose-a:text-purple-700",
      "prose-strong:text-purple-700",
      "prose-code:before:hidden prose-code:after:hidden prose-code:text-purple-900 prose-code:bg-gray-100 dark:prose-code:bg-gray-500 prose-code:rounded prose-code:py-1 prose-code:px-2 prose-code:border prose-code:border-gray-300",
    ]}
  >
    <slot />
  </div>
</section>
