---
import CONFIGS from "@/configs.global";
import { DESIGN_CLASSNAME } from "@/styles/design.ts";
import WorkImageCard from "@/components/WorkImageCard.astro";
import { getAllWorks, WorkType } from "@/content/_schema/works";
import SiteLayout from "@/layouts/site-layout/SiteLayout.astro";

const works = await getAllWorks();

const information = [
  {
    title: "Company Works",
    works: works.filter((work) => work.data.type === WorkType.Company),
  },
  {
    title: "Personal Works",
    works: works.filter((work) => work.data.type === WorkType.Personal),
  },
];
---

<SiteLayout pageName={CONFIGS.PAGE_NAME.WORKS}>
  {
    information.map(({ title, works }, index) => (
      <>
        <section class="py-6">
          <h1 class="mb-4 text-4xl font-bold text-shadow-xs dark:text-shadow-none">
            <span class={DESIGN_CLASSNAME.COLOR_GRADIENT_TEXT}>
              {title} - {works.length}
            </span>
          </h1>
          <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-4 lg:grid-cols-3">
            {works.map((work) => (
              <a href={`${CONFIGS.SITE.BASE}/works/${work.id}`} class="text-inherit no-underline">
                <WorkImageCard
                  title={work.data.title}
                  message={work.data.subtitle}
                  label={work.data.type}
                  class="backdrop-blur-[100px]"
                  backgroundImageUrl={work.data.imageUrl}
                />
              </a>
            ))}
          </div>
        </section>

        <hr class={index === information.length - 1 ? "hidden" : "my-6 border-gray-300"} />
      </>
    ))
  }
</SiteLayout>
