---
import { ClientRouter } from "astro:transitions";

import "@/styles/global.css";

import CONFIGS from "@/configs.global";
import SiteLayoutBackground from "./SiteLayoutBackground.astro";
import SiteLayoutHeader from "./SiteLayoutHeader.astro";
import SiteLayoutMain from "./SiteLayoutMain.astro";
import SiteLayoutFooter from "./SiteLayoutFooter.astro";

interface Props {
  headerClass?: string;
  mainClass?: string;
  footerClass?: string;
}

const { headerClass, mainClass, footerClass } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/venomous-portfolio/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{CONFIGS.SITE.NAME}</title>
    <ClientRouter />
  </head>

  <body class="bg-gray-50 text-black dark:bg-gray-900 dark:text-white">
    <SiteLayoutBackground />
    <SiteLayoutHeader class={headerClass} />
    <SiteLayoutMain class={mainClass}>
      <slot />
    </SiteLayoutMain>
    <SiteLayoutFooter class={footerClass} />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100mvh;
    min-width: 370px;
  }
</style>

<script is:inline>
  // 主题初始化函数
  function initTheme() {
    document.documentElement.classList.toggle(
      "dark",
      localStorage.theme === "dark" ||
        (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
    );

    // 更新主题图标
    if (window.updateAllThemeIcons) {
      window.updateAllThemeIcons();
    }
  }

  // 初始化主题
  initTheme();

  // 监听页面导航事件
  document.addEventListener("astro:page-load", initTheme);
</script>
